/* Ejemplos position */

* {
    box-sizing: border-box;
}

/* Reseteo generales 
======================= */
ul, ol{
    padding: 0;
}
li {
    list-style-type: none;
}
a, a:hover {
    color: #000;
    text-decoration: none;
}

/* Section wrapper 
==================== */
.wrapper article {
    width: 150px;
    height: 150px;  /* Es poco frecuente definir alturas en las cajas de html. Lo usamos a efectos de mostrar ejemplos*/
}
.wrapper .uno{
 background-color: rgba(0, 0, 255, 0.5);   
}
.wrapper .dos{
 background-color: rgba(0, 255, 0, 0.5);   
}
.wrapper .tres{
 background-color: rgba(255, 0, 0, 0.5);   
}