<!DOCTYPE html>
<html lang="en">
     <head> <!--Datos de configuración -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Document</title>
    </head>
    <body> <!-- Visible para el usuario -->
        <h1>Home page desde /views</h1>
        <p class="primer dos principal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident placeat ipsum ipsa qui nostrum vel nisi reprehenderit iure expedita laborum. Rerum earum perferendis provident rem sequi qui quis debitis tempora.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident placeat ipsum ipsa qui nostrum vel nisi
            reprehenderit iure expedita laborum. Rerum earum perferendis provident rem sequi qui quis debitis tempora.</p>
        <img src="" alt="">
        <ul>
            <li>item1</li>
            <li>item2</li>
        </ul>
        
    </body>
</html>